# Exercise 4.6
# Kaan Arslan

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [21]:
# Import databases
path = r'C:\Users\arsla\Instacart basket analysis July 2025\02 Data'

In [3]:
df_ords = pd.read_pkl(os.path.join(path,'Prepared Data','orders_checked.csv'))

In [4]:
df_ords_prior=pd.read_csv(os.path.join(path,'Original Data','orders_products_prior.csv'))

In [22]:
#checking the databases
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2168274,2,1,2,11,7.0
2,1374495,3,1,1,14,7.0
3,3343014,4,1,6,11,7.0
4,2717275,5,1,3,12,7.0

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.shape
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.shape

(206209, 8)

In [23]:
#deleting unnamed columns
df_ords = df_ords.loc[:, ~df_ords.columns.str.contains('^Unnamed')]

In [13]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2168274,2,1,2,11,7.0
2,1374495,3,1,1,14,7.0
3,3343014,4,1,6,11,7.0
4,2717275,5,1,3,12,7.0

In [20]:
#merging the databases
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [19]:
#examine value counts on _merge
df_merged_large['_merge'].value_counts()

_merge
both          2078068
left_only           0
right_only          0
Name: count, dtype: int64

In [18]:
#exporting dataframe as pickle
df_merged_large.to_pickle(os.path.join(path, 'Prepared data' ,'orders_products_combined.pkl'))