In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import databases
path = r'C:\Users\arsla\Instacart basket analysis July 2025\02 Data'

In [3]:
# import dataframe

df_ords = pd.read_csv(os.path.join(path, 'prepared data', 'orders_doublechecked.csv'), index_col=0)

df_ords_prior = pd.read_csv(os.path.join(path,'original data' , 'orders_products_prior.csv'))

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.shape

(3421083, 6)

In [8]:
df_merge_large = df_ords.merge(df_ords_prior, on = ['order_id'] , how = 'inner', indicator = True)

In [9]:
df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [11]:
# export data as pickle
df_merge_large.to_pickle(os.path.join(path,'prepared data' , 'orders_products_combined_checked.pkl'))